.todo-each{
    display: block;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.delete-icon{
    float: right;
}
.check-icon{
 float: left;
}
.done{
    text-decoration: line-through;
}
.not-done{
    text-decoration: none;
}