.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 20px ;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
